.menu{
  padding-left: 10%;

  @media (max-width: 1407px) {
    padding: 1%;
  }

  @media(max-width: 1023px) {
    background: #222222 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 2%;
    padding-left: 2%;
  }

  @media(max-width: 768px) {
    padding-top: 20px;
    padding-left: 20px;
  }

  &__button{
    color: #FFFFFF;
    display: none;
    @media (max-width: 1023px){
      display: inherit;
    }
  }

  &__body{

    @media (min-width: 1024px){
      display: block;
    }
    @media (max-width: 1023px){
      display: none;
    }
  }

  &__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 1023px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item{
    color: #FFFFFF;
    font: normal normal 400 18px OpenSans;
    margin-top: 0;

    @media (max-width: 1023px){
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
