.setUp {
  padding-top: 80px;
  padding-bottom: 50px;

  @media(max-width: 768px) {
    padding-top: 45px;
    padding-bottom: 40px;
  }


  &__title {
    text-align: center;
    font: normal normal 700 42px OpenSans;
    letter-spacing: -1.05px;
    color: #222222;
    opacity: 1;

    @media(max-width: 768px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    text-align: center;
    font: normal normal 600 24px OpenSans;
    letter-spacing: -0.6px;
    color: #222222;
    opacity: 1;

    margin-bottom: 60px;

    @media(max-width: 768px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__text-title{
    text-align: left;
    font: normal normal 700 20px OpenSans;
    letter-spacing: -0.5px;
    color: #222222;

    margin-bottom: 10px;

    @media(max-width: 768px) {
      font-size: 14px;
    }
  }

  &__text{
    text-align: left;
    font: normal normal 400 20px OpenSans;
    letter-spacing: -0.5px;
    color: #222222;

    @media(max-width: 768px) {
      font-size: 14px;
    }

    a {
      text-decoration: underline;
      color: #E31D86;

      &:hover {
        text-decoration: none;
      }
    }
  }
}