.button_blue {
  @extend %auto-margins;
  width: 230px;
  height: 60px;
  text-align: center;
  background: #0071E3 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  font: normal normal 600 27px OpenSans;
  border-radius: 6px;
  opacity: 1;

  @media (max-width: 1215px) {
    height: 42px;
  }

  border-color: transparent;
}