.getIn {
  background: transparent linear-gradient(180deg, #FF4F7B 0%, #FFCD34 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 70px;
  @media(max-width: 768px) {
    padding-top: 30px;
  }


  @media(max-width: 500px) {
    padding-bottom: 240px;
  }

  &__title{
    text-align: center;
    font: normal normal 700 42px OpenSans;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    opacity: 1;

    @media(max-width: 1215px) {
      font-size: 34px;
    }

    @media(max-width: 1023px) {
      font-size: 28px;
    }
  }
  &__image{
    width: 1480px;
    position: relative;
    left: -325px;

    @media(max-width: 1215px) {
      width: 1024px;
      left: -200px;
    }

    @media(max-width: 1023px) {
      width: 768px;
      left: -5%;
    }

    @media(max-width: 768px) {
      width: 545px;
      left: 0;
    }

    @media(max-width: 600px) {
      left: -10%;
    }

    @media(max-width: 500px) {
      left: -10px;
      float: right;
    }

    //@media(max-width: 500px) {
    //  left: -30%;
    //}
    //
    //@media(max-width: 420px) {
    //  left: -160px;
    //}

    //@media(max-width: 380px) {
    //  left: -47.5%;
    //}
    //
    //@media(max-width: 370px) {
    //  left: -52.5%;
    //}
    //
    //@media(max-width: 360px) {
    //  left: -52.5%;
    //}
  }
}