%auto-margins {
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: transparent linear-gradient(284deg, #57D6F7 0%, #736FDB 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 480px;


  @media(max-width: 1023px) {
    height: 100%;
  }

  @media(max-width: 768px) {
    height: 100%;
  }

  &__logo {
    width: 296px;
    height: 156px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1023px) {
      justify-content: start;
      padding-left: 5%;
    }
  }

  &__body {
    position: relative;
    top: -100px;

    @media(max-width: 1023px) {
      top: 20px;
    }

    @media(max-width: 768px) {
      display: flex;
      flex-direction: row;
      top:0px;
    }
  }

  &__text {
    position: relative;
    top: 100px;

    @media(max-width: 1023px) {
      top: 0;
    }
  }

  &__title {
    text-align: left;
    font: normal normal 700 60px OpenSans;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    opacity: 1;

    margin-top: 15px;

    @media(max-width: 1407px) {
      font-size: 48px;
    }

    @media(max-width: 1215px) {
      font-size: 42px;
      line-height: 42px;
      margin-top: 0px;
    }

    @media(max-width: 1023px) {
      margin-left: 20px;
    }

    @media(max-width: 768px) {
      font-size: 32px;
      text-align: center;
    }
  }

  &__subtitle {
    text-align: left;
    font: normal normal 700 24px OpenSans;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    opacity: 1;

    @media (max-width: 1151px) {
      font-size: 22px;
    }

    @media(max-width: 1023px) {
      font-size: 20px;
      margin-left: 20px;
    }

    @media(max-width: 1023px) {
      font-size: 18px;
    }

    @media(max-width: 768px) {
      text-align: center;
      padding-left: 2%;
      padding-right: 2%;
    }

  }

  &__review-img {
    margin-top: 5px;

    @media(max-width: 1023px) {
      margin-left: 20px;
    }

    @media(max-width: 768px) {
      width: 122px;
      height: 100px;
      margin-top: 80px;
      margin-bottom: 30px;
      margin-left: 5%;
      text-align: center;
    }

    @media(max-width: 650px) {
      position: relative;
      left: 75px;
    }

    @media(max-width: 500px) {
      position: relative;
      left: 10px;
    }
  }

  &__image {
    @media(max-width: 768px) {
      position: relative;
      top: 80px;
      left: -410px;
    }

    @media(max-width: 650px) {
      position: relative;
      top: 110px;
      left: -350px;
      min-width: 220px !important;
      height: 132px;
    }

    @media(max-width: 570px) {
      position: relative;
      top: 130px;
      left: -300px;
    }

    @media(max-width: 500px) {
      position: relative;
      top: 130px;
      left: -230px;
    }


  }

  &__reverse-columns {
    display: flex;

    @media(max-width: 1023px) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @media(max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

}

.nav-menu{
  @media (max-width: 1023px){
    padding: 0;
  }
}