

@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";
@import "button_blue";
@import "menu";
@import "header";
@import "office-plans";
@import "why-choose";
@import "set-up";
@import "get-in-touch";
@import "company-formation";
@import "comments";
@import "faq";
@import "footer";
@import "we-helped";
