.weHelped {

  position: relative;
  top: 152.5px;
  @media (max-width: 1023px) {
    top: 287.5px;
  }


  .container {
    @media (max-width: 768px) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }


  &__body {
    background: transparent linear-gradient(284deg, #57D6F7 0%, #736FDB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 12px 6px 40px #0048661A;
    border-radius: 6px;
    align-items: center;
    height: 305px;
    @media (max-width: 1023px) {
      justify-content: flex-start;
    }

    @media (max-width: 1023px) {
      height: 575px;
    }


  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1215px) {
      position: relative;
      left: 20px;
    }

    @media (max-width: 1023px){
      left: 0;
    }

    @media (max-width: 900px) {
      margin-top: -90px;
    }

    @media (max-width: 768px){
      margin-top: -90px;
    }

    @media (max-width: 600px){
      margin-top: -100px;
    }
  }

  &__title {
    text-align: left;
    font: normal normal 700 32px OpenSans;
    letter-spacing: -0.8px;
    color: #222222;
    opacity: 1;

    @media (max-width: 1023px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &__subtitle {
    text-align: left;
    font: normal normal 700 32px OpenSans;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    opacity: 1;

    @media (max-width: 1023px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__image {
    position: relative;
    top: 20px;
    width: 280px;

    @media (max-width: 1023px) {
      width: 65%;
      top: -20px;
    }

    @media (max-width: 768px) {
      width: 85%;
      top: -20px;
    }

    @media (max-width: 600px) {
      width: 250px;
      top: 0;
      //left: -50px;
    }

    @media (max-width: 450px) {
      left: -40px;
    }

    @media (max-width: 375px) {
      left: -60px;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: relative;
    top: 90px;
    left: -22%;

    @media (max-width: 1407px) {
      left: -25%;
    }

    @media (max-width: 1215px) {
      left: -320px;
      top: 105px;
    }

    @media (max-width: 1023px) {
      left: 0;
      top: 490px;
    }

    @media (max-width: 900px) {
      top: 400px;
    }

    @media (max-width: 600px) {
      top: 370px;
    }

    @media (max-width: 502px) {
      top: 420px;
    }

    @media (max-width: 380px) {
      top: 430px;
    }

    @media (max-width: 360px) {
      top: 470px;
    }

    .button_blue {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__reverse-columns {
    display: flex;
    @media(max-width: 1023px) {
      flex-direction: column-reverse;
      justify-content: center;
    }

    @media(max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}