$markerSize: 32px;
$markerLine: 2px;
$markerItemSize: $markerSize*0.75;
$markerTop: ($markerSize - $markerItemSize)/2;
$markerLeft: ($markerItemSize - $markerLine)/2 + $markerTop;
$markerItemTop: ($markerItemSize - $markerLine)/2;
$markerItemLeft: $markerItemTop*(-1);


.why {
  background: transparent linear-gradient(292deg, #57D6F7 0%, #736FDB 100%) 0% 0% no-repeat padding-box;
  opacity: 1;

  padding-top: 65px;
  padding-bottom: 15px;

  @media (max-width: 768px) {
    background: transparent linear-gradient(342deg, #57D6F7 0%, #736FDB 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__title{
    text-align: center;
    font: normal normal 700 42px OpenSans;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    opacity: 1;

    margin-bottom: 50px;

    @media(max-width: 1023px) {
      font-size: 32px;
    }

    @media(max-width: 768px) {
      font-size: 28px;
      margin-bottom: 20px;
    }

    @media(max-width: 500px) {
      //margin-bottom: 40px;
    }
  }

  &__list {
    @media (max-width: 768px) {
      margin-top: 30px;
      margin-bottom: -30px;
    }
  }

  &__item{
    margin-top: -40px;
    &:hover{
      cursor: pointer;
    }
  }

  &__body-item {
    display: flex;

    flex-wrap: wrap;
    @media(max-width: 768px) {
      flex-direction: row;
      justify-content: start;
    }

  }

  &__body-text {
    margin-bottom: 20px !important;
    @media(max-width: 768px) {
      position: relative;
      top: -20px;
    }
  }


  &__marker-item{
    width: $markerSize;
    height: $markerSize;
    background: #3E2155 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;

    &_active{
      .why__marker {
        width: 0px;
      }
    }

    @media(max-width: 768px) {
      position: relative;
      left: -10px;
    }
  }

  &__marker {
    background: #FFFFFF;
    height:$markerItemSize;
    width: $markerLine;
    position: relative;
    left: $markerLeft;
    top: $markerTop;


    &:after{
      content: "";
      height: $markerLine;
      width: $markerItemSize;
      background: #FFFFFF;
      position: absolute;
      left: $markerItemLeft;
      top: $markerItemTop;
    }
  }

  &__text-subtitle{
    text-align: left;
    font: normal normal 600 20px OpenSans;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    opacity: 1;

    @media(max-width: 1023px) {
      font-size: 16px;
    }

    @media(max-width: 768px) {
      font-size: 14px;
    }
  }

  &__text-item{
    text-align: left;
    font: normal normal 400 20px OpenSans;
    letter-spacing: -0.5px;
    color: #EEEEEE;
    opacity: 1;
    display: none;
    margin-bottom: 40px;
    margin-top: -10px;


    @media(max-width: 1023px) {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 0;
    }

    @media(max-width: 768px) {
      font-size: 14px;
    }
  }

  &__reverse-columns{
    //align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    @media(max-width: 1023px) {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__image{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media(max-width: 500px) {
      max-width: 265px;
    }
  }
}